name: Macアプリ作成(選別ツール・修正版)

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Python 3.10をセットアップ
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: 必要なライブラリをインストール
      run: |
        pip install --upgrade pip
        pip install PyQt6
        pip install numpy
        # エラー回避のためのヘッドレス版OpenCV
        pip install opencv-python-headless
        pip install pyinstaller

    - name: Mac用アプリに変換 (Debug Mode)
      run: |
        # 【重要】
        # --collect-all PyQt6 : 部品漏れを完全になくす最強のコマンド
        # --windowed 削除 : エラー時に黒い画面で原因を確認できるようにする
        
        pyinstaller --noconfirm --clean --onefile --name "PhotoSelector" --collect-all PyQt6 senbetu.py

    - name: アプリをアップロード
      uses: actions/upload-artifact@v4
      with:
        name: MacApp_Senbetu_Debug
        path: dist/
